{% load static %}
<html lang="en">
	<head>
		<title>Metalit | Transfromasikan Dirimu Jadi Lebih Baik - Video Player</title>

		<!-- Meta Tags -->
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Transformasikan dirimu jadi lebih baik"/>

        <!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon_metalit.png' %}"/>

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">
		<link rel="stylesheet" type="text/css" href="{% static 'edu/assets/vendor/font-awesome/css/all.min.css' %}">

		<!-- Plugins CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'edu/assets/vendor/font-awesome/css/all.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'edu/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'edu/assets/vendor/glightbox/css/glightbox.css' %}
		">
		<link rel="stylesheet" type="text/css" href="{% static 'edu/assets/vendor/choices/css/choices.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'edu/assets/vendor/plyr/plyr.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'edu/assets/vendor/aos/aos.css' %}" >
		<link rel="stylesheet" type="text/css" href="{% static 'edu/assets/vendor/tiny-slider/tiny-slider.css' %}" >

		<!-- Theme CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'edu/assets/css/style.css' %}">

		<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0KJ3LXW826"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-0KJ3LXW826');
        </script>
        
	</head>

	<body>
		{% block page_content %}
		{% endblock %}
					
		<!-- Back to top -->
		<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

		<!-- Bootstrap JS -->
		<script src="{% static 'edu/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

		<!-- Vendors -->
		<script src="{% static 'edu/assets/vendor/isotope/isotope.pkgd.min.js' %}"></script>
		<script src="{% static 'edu/assets/vendor/imagesLoaded/imagesloaded.js' %}"></script>
		<script src="{% static 'edu/assets/vendor/choices/js/choices.min.js' %}"></script>
		<script src="{% static 'edu/assets/vendor/plyr/plyr.js' %}"></script>
		<script src="{% static 'edu/assets/vendor/purecounterjs/dist/purecounter_vanilla.js' %}"></script>
		<script src="{% static 'edu/assets/vendor/aos/aos.js' %}"></script>
		<script src="{% static 'edu/assets/vendor/tiny-slider/tiny-slider.js' %}"></script>
		
		<!-- Template Functions -->
		<script src="{% static 'edu/assets/js/functions.js' %}"></script>

	    <!-- HTMX CDN -->
	    <script src="https://unpkg.com/htmx.org@1.1.0"></script> 
	        <!-- CSRF request in the headers -->
	    <script>
	      document.body.addEventListener('htmx:configRequest', (e) => {
	        e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
	        })
	    </script>

	</body>
</html>