{% extends "eduport/main.html" %}
{% load i18n %}
{% load account %}

{% block title %} - Reset Password{% endblock %}

{% block page_content %}
  {% include 'eduport/header.html' %}
<section class="py-5">
  <div class="container px-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">

        <!--Form-->
        <div class="biru text-white">
          <form class="py-5 px-5" method="POST" action="{% url 'account_login' %}" autocomplete="off">
            <h3 class="mb-3 text-center">Reset Password</h3>
            <p class="mb-3">Masukkan alamat e-mail Anda, kami akan mengirim email untuk mereset password.</p>
            {% csrf_token %}
            <label for="inputEmail" class="visually-hidden">Alamat e-mail</label>

            <div class="form-group row">
              <label for="inputEmail" class="visually-hidden">Alamat e-mail</label>
              <input type="email" name="email" id="inputEmail" class="form-control mb-3" placeholder="Alamat e-mail" required autofocus>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-light" type="submit">Reset Password Saya</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'eduport/footer.html' %}
{% endblock %}