[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene-django-pagination = {file = "https://github.com/instruct-br/graphene-django-pagination/archive/master.zip"}

[dev-packages]

[requires]
python_version = "3.6"
