{% load static %}
{% load navigation %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Transformasikan dirimu jadi lebih baik"/>

        <title>Metalit | Transfromasikan Dirimu Jadi Lebih Baik{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'edu/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon_metalit.png' %}"/>
        <script src="{% static 'js/all.js' %}"></script>
    </head>

    <body>
        {% block page_content %}
        <!-- main-->
        <main class="flex-shrink-0">
          <!--Navigasi-->
          <nav class="navbar navbar-expand-lg navbar-light">
            {% block header_content %}{% endblock %}
          </nav>
          
        </main>

        <!-- Footer-->
          {% block footer_content %}{% endblock %}
        {% endblock %}
        <!-- Bootstrap core JS-->
        <script src="{% static 'edu/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>