{% extends "revamp/base.html" %}
{% load static %}

{% block title %} - Help{% endblock %}

{% block page_content %}
<div class="accordion accordion-flush" style="text-align:right;" id="message">
  <div class="accordion-item">
    <h2 class="accordion-header px-3" id="flush-headingOne">
      <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#pesan" aria-expanded="false" aria-controls="flush-collapseOne">Punya Pertanyaan</button>
    </h2>
    <div id="pesan" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#mesage">
      <div class="row px-5">
        <div class="col-lg-4 bg-black text-white text-center">
          <form class="py-5 px-3" method="post">
            {% csrf_token %}
            <h4 class="mb-5">Tinggalkan Pesan</h4>
            <input type="text" name="name" maxlength="255" required="" id="id_nama" class="form-control mb-3" placeholder="Nama">
            <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control mb-3" placeholder="Email">
            <textarea name="message" cols="40" rows="10" required="" id="id_pesan" class="form-control mb-3" rows="5" placeholder="Tulis Pesan"></textarea>
            <input type="submit" value="Kirim" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="py-5 px-2">
  <div class="container px-5">
    <div class="justify-content-center">
      <h1 class="fw-bolder mb-5 text-center">Pusat bantuan</h1>
      <div class="mb-5 text-center">
        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>        
      </div>
      <div>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Quis hendrerit dolor magna eget est</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Eleifend quam adipiscing vitae proin sagittis</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Rutrum tellus pellentesque eu tincidunt</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">A pellentesque sit amet porttitor</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Egestas maecenas pharetra convallis posuere morbi</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Sapien eget mi proin sed libero enim</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Sed viverra ipsum nunc aliquet bibendum</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">At urna condimentum mattis pellentesque</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">A cras semper auctor neque</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Facilisis gravida neque convallis</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Lectus sit amet est placerat</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Nullam non nisi est sit amet facilisis</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Turpis cursus in hac habitasse</div>
          </li>
          <li><i class="fa-li fa fa-check"></i>
              <div class="mb-3">Aliquam ut porttitor leo a diam sollicitudin tempor</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<section class="py-5 px-2">
  <div class="container px-5">
    <div class="justify-content-center">
      <h2 class="fw-bolder mb-4 text-center">Ingin bertanya lebih jauh?</h2>
      <div class="mb-5 text-center">
        <p>Hubungi kami untuk informasi lebih lanjut mengenai pelatihan di Metalit.id</p>        
      </div>
      <div class="text-center">
        <a class="btn btn-primary" href="{% url 'contact' %}">Hubungi Kami</a>
      </div>
    </div>
</section>

{% endblock %}