{% extends "revamp/base.html" %}
{% load static %}
{% block page_content %}

  <!-- Header-->
  <header class="py-5">
    <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <div class="my-5 text-xl-start">
            <!-- <p class="lead fw-normal mb-2">metalit</p> -->
            <h1 class="display-5 fw-bolder mb-2">Membantu talenta IT bersaing dengan skill standar industri</h1>
            <p class="lead fw-normal mb-4">Transformasikan dirimu jadi lebih baik</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account_signup' %}">Daftar</a>
              <!-- <a class="btn btn-link text-decoration-none btn-lg px-4 me-sm-3" href="#">Eksplore Materi</a> -->
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-xxl-6">
          <img class="img-fluid" src="{% static 'images/pair.svg' %}"/>
          <a href="https://storyset.com/web" class="text-decoration-none text-muted"><small> Didesain oleh Storyset</small></a>
        </div>
      </div>
    </div>
  </header>

  <!--My Work section-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
        
       

        <div class="col-lg-6 mb-5">
          <img class="img-fluid" src="{% static 'images/yoho.png' %}"/>
          <a href="https://www.freepik.com/vectors/abstract" class="text-decoration-none text-muted"><small> Didesain oleh vectorjuice</small></a>
        </div>

        <div class="col-lg-6 px-2">
          <h3 class="mb-4">Mau jadi talenta IT sesuai standar industri?</h3>
          <p>
            400.000 Sarjana IT tidak memenuhi standar indsutri 
            padahal kebutuhan talenta IT mencapai 600.000 per tahun.
          </p>
          <p class="mb-5">
            Yuk gabung metalit, belajar skill IT yang sesuai standar industri.
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account_signup' %}">Daftar</a>
            <!-- <a class="btn btn-link text-decoration-none btn-lg px-4 me-sm-3" href="#">Eksplore Materi</a> -->
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Why choose me section-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">

        <div class="col-lg-6 px-2">
          <h3 class="mb-4">Merasa tidak ada perkembangan karir?</h3>
          <p>
            Idealnya, anak IT bisa naik gaji 30% per 2 tahun.
            Level senioritas, skill ataupun jabatan harusnya pun ada peningkatan.
          </p>
          <p class="mb-5">
            Yuk gabung metalit untuk meningkatkan karirmu.
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start mb-5">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account_signup' %}">Daftar</a>
            <!-- <a class="btn btn-link text-decoration-none btn-lg px-4 me-sm-3" href="#">Eksplore Materi</a> -->
          </div>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'images/yuhu.jpg' %}"/>
          <a href="http://www.freepik.com" class="text-decoration-none text-muted"><small> Didesain oleh pch.vector</small></a>
        </div>
      </div>
    </div>
  </section>

  <div class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Kisah Sukses</h1>
        <p class=" text-muted mb-0">Kesuksesan murid kami setelah belajar bersama metalit</p>
      </div>
      <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-3 justify-content-center">
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png">
              </h4>
              <p>
                Naik gaji 30% setelah bersama metalit belajar skill python, js, git, sql dan 
                ci/cd sampai website bisa diakses melalui internet 
              
              </p>                                   
              <hr>
              <div class="row">
                <div class="col-md-2">
                  <img class="avatar-img rounded-circle" src="{% static 'dea.jpg' %}">
                </div>
                <div class="col-md-10 px-5 col-sm-0">
                  <div class="profile">
                    <h6 class="cust-name">Dea Dania</h6>
                    <p class="cust-profession">Software Developer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png">
              </h4>
              <p>
                Diterima magang di xendit setelah belajar membuat aplikasi web dengan python dan menggunakan git bersama metalit
              </p>                                   
              <hr>
              <div class="row">
                <div class="col-md-2">
                  <img class="avatar-img rounded-circle" src="{% static 'fadel.jpeg' %}">
                </div>
                <div class="col-md-10 px-5 col-sm-0">
                  <div class="profile">
                    <h6 class="cust-name">Fadel Ananda</h6>
                    <p class="cust-profession">Backend developer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--our program-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Program kami</h1>
        <!--
        <p class="lead fw-normal text-muted mb-0">laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
        -->
      </div>

      <div class="row gx-5 content-center">
        <div class="col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="mb-3 text-center">
                <span class="fw-bolder">Personal Training</span>
              </div>
              <div>
                <span>Pelatihan akan dilakukan oleh Metalit secara personal per peserta, project yang akan dikerjakan didesain untuk individu mandiri</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="mb-3 text-center">
                <span class="fw-bolder">Bootcamp</span>
              </div>
              <div>
                <span>Pelatihan akan dilakukan secara bersamaan dengan minimal peserta adalah 10 orang per batch. Materi standar industri</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="mb-3 text-center">
                <span class="fw-bolder">Jasa Penyaluran</span>
              </div>
              <div>
                <span>Kamu yang mendaftarkan diri sebagai Pencari Kerja di Metalit dapat bergabung tanpa melalui pelatihan dan langsung disalurkan kerja</span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
{% endblock %}