{% extends "revamp/base.html" %}
{% load static %}

{% block page_content %}
  <!-- Header-->
  <header class="py-5">
    <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <div class="my-5 text-center text-xl-start">
            <p class="lead fw-normal mb-2">Metamorfosa . Talent . IT</p>
            <h1 class="display-5 fw-bolder mb-2">Transformasikan dirimu jadi lebih baik</h1>
            <p class="lead fw-normal mb-4">Talent platform dengan skill standar industri masa kini</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'pelatihan' %}">Daftarkan diri Anda</a>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
          <img class="img-fluid rounded-3 my-5" src='{% static "assets/Group 131.svg" %}'/>
        </div>
      </div>
    </div>
  </header>

  <!--My Work section-->
  <section class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="fw-bolder mb-0">Cara kerja kami</h2>
        </div>
        <div class="col-lg-8">
          <div class="row gx-5 row-cols-1 row-cols-md-2">
            <div class="col mb-5 h-100">
              <div class="feature mb-2">
                <img class='img95' src="https://metalit.oss-ap-southeast-5.aliyuncs.com/static/metalit/assets/images/Group_314.png">
              </div>
              <h2 class="h5">Pelatihan</h2>
              <p class="mb-0">Para pencari kerja diberikan pelatihan hard skill dan soft skill di bidang IT.</p>
            </div>
            <div class="col mb-5 h-100">
              <div class="feature mb-2">
                <img class='img95' src="https://metalit.oss-ap-southeast-5.aliyuncs.com/static/metalit/assets/images/Group.png">
              </div>
              <h2 class="h5">Kerjasama dengan perusahaan</h2>
              <p class="mb-0">Metalit menjalin kerjasama dengan perusahaan untuk menyalurkan pencari kerja</p>
            </div>
            <div class="col mb-5 mb-md-0 h-100">
              <div class="feature mb-2">
                <img class='img95' src="https://metalit.oss-ap-southeast-5.aliyuncs.com/static/metalit/assets/images/Group_315.png">
              </div>
              <h2 class="h5">Proses perekrutan</h2>
              <p class="mb-0">Metalit menyediakan list kandidat pencari kerja sesuai dengan permintaan perusahaan.</p>
            </div>
            <div class="col h-100">
              <div class="feature mb-2">
                <img class='img95' src="https://metalit.oss-ap-southeast-5.aliyuncs.com/static/metalit/assets/images/Group_316.png">
              </div>
              <h2 class="h5">Evaluasi</h2>
              <p class="mb-0">Pencari kerja yang diterima oleh perusahaan relasi melakukan evaluasi bersama Metalit selama masa percobaan</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Why choose me section-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-5 mb-lg-0" src='{% static "assets/Group 277.svg" %}'/>
        </div>
        <div class="col-lg-6 px-2">
          <h2 class="fw-bolder mb-5">Kenapa memilih kami?</h2>
          <dl>
            <dt>Pelatihan industri masa kini</dt>
            <dd>Materi pelatihan menggunakan metode dan teknologi sesuai dengan standar industri masa kini seperti</dd>
          </dl>
          <dl>
            <dt>Pelatihan industri masa kini</dt>
            <dd>Materi pelatihan menggunakan metode dan teknologi sesuai dengan standar industri masa kini seperti scrum, git, automation test, dll</dd>
          </dl>
          <dl>
            <dt>Harga termurah</dt>
            <dd>Metalit memberikan harga yang jauh lebih murah jika dibandingkan platform lain dengan bidang sejenis</dd>
          </dl>
          <dl>
            <dt>Mengerjakan proyek riil</dt>
            <dd>Di akhir pelatihan para pencari kerja dibentuk menjadi tim untuk mengerjakan project real yang bisa dijadikan sebagai portofolio</dd>
          </dl>                                                
        </div>
      </div>
    </div>
  </section>

  <!--our program-->
  <section class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Program kami</h1>
        <p class="lead fw-normal text-muted mb-0">laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
      </div>

      <div class="row gx-5 content-center">
        <div class="col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="mb-3 text-center">
                <img src="https://metalit.oss-ap-southeast-5.aliyuncs.com/static/metalit/assets/images/Vector_6.png">
              </div>
              <div>
                <span>Pelatihan dilakukan secara online dengan batas maksimal 10 orang per batch.</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="mb-3 text-center">
                <img src="https://metalit.oss-ap-southeast-5.aliyuncs.com/static/metalit/assets/images/Vector_6.png">
              </div>
              <div>
                <span>Pelatihan dilakukan secara online dengan batas maksimal 10 orang per batch.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="mb-3 text-center">
                <img src="https://metalit.oss-ap-southeast-5.aliyuncs.com/static/metalit/assets/images/Vector_6.png">
              </div>
              <div>
                <span>Pelatihan dilakukan secara online dengan batas maksimal 10 orang per batch.</span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <!-- section-->
  <div class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Pencapaian Kami</h1>
        <p class=" text-muted mb-0">Voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, Modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      </div>

      <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="text-center">
            <span class="display-4 fw-bold">32</span>
            <div class="text-muted">Talen dalam pelatihan</div>
          </div>
        </div>
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="text-center">
            <span class="display-4 fw-bold">14</span>
            <div class="text-muted">Talen telah dipekerjakan</div>
          </div>
        </div>
        <div class="col mb-5 mb-5 mb-sm-0">
          <div class="text-center">
            <span class="display-4 fw-bold">7</span>
            <div class="text-muted">Kerjasama perusahaan</div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="text-center">
            <span class="display-4 fw-bold">12</span>
            <div class="text-muted">Talen siap kerja</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section-->
  <div class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-xl-9">
          <div class="text-center">
            <div class="fs-4 mb-4 fst-italic">"Pendidikan bukan cuma pergi ke sekolah dan mendapatkan gelar. Tapi, juga soal memperluas pengetahuan dan menyerap ilmu kehidupan"</div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="fw-bold">- Shakuntala Devi - </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section-->
  <div class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Testimoni</h1>
        <p class=" text-muted mb-0">Yang Mereka Katakan Tentang Kami</p>
      </div>
      <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-3 justify-content-center">
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png">
              </h4>
              <p>Nam libero tempore, cum soluta nobis est eligendi optio, quod maxime placeat, facere possimus, omnis voluptas assumenda est.</p>                                   
              <hr>
              <div class="row">
                <div class="col-md-2">
                  <img class="profile-pic" src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
                </div>
                <div class="col-md-10 px-5 col-sm-0">
                  <div class="profile">
                    <h6 class="cust-name">Lisa Apriliani</h6>
                    <p class="cust-profession">Quality Assurance</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png">
              </h4>
              <p>Nam libero tempore, cum soluta nobis est eligendi optio, quod maxime placeat, facere possimus, omnis voluptas assumenda est.</p>                                   
              <hr>
              <div class="row">
                <div class="col-md-2">
                  <img class="profile-pic" src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
                </div>
                <div class="col-md-10 px-5 col-sm-0">
                  <div class="profile">
                    <h6 class="cust-name">Lisa Apriliani</h6>
                    <p class="cust-profession">Quality Assurance</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png">
              </h4>
              <p>Ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>                                   
              <hr>
              <div class="row">
                <div class="col-md-2">
                  <img class="profile-pic" src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
                </div>
                <div class="col-md-10 px-5 col-sm-0">
                  <div class="profile">
                    <h6 class="cust-name">Nanda Firmansyah</h6>
                    <p class="cust-profession">Frontend developer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section-->
  <div class="py-5 bg-light">
    <div class="container px-3 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Mitra Kami</h1>
      </div>
      <div class="row gx-5 row-cols-3 row-cols-sm-3 row-cols-xl-5 justify-content-center">
        <div class="col mb-5 mb-5 mb-xl-0">
          <img style='width: 70%;' src='{% static "assets/jenius.png" %}'>
        </div>       
        <div class="col mb-5 mb-5 mb-xl-0">
          <img class="img70" src='{% static "assets/ovo1.png" %}'>
        </div>      
        <div class="col mb-5 mb-5 mb-xl-0">
          <img class="img70" src="https://metalit.oss-ap-southeast-5.aliyuncs.com/static/metalit/assets/images/logo_1.png">
        </div>                      
        <div class="col mb-5 mb-5 mb-xl-0">
          <img class="img70" src="https://metalit.oss-ap-southeast-5.aliyuncs.com/static/metalit/assets/images/logo_Mekar.png">
        </div>                 
        <div class="col mb-5 mb-5 mb-xl-0">
          <img class="img70" src='{% static "assets/tokopedia.png" %}'>
        </div>
      </div>
    </div>
  </div>
{% endblock %}