{% extends "revamp/base.html" %}
{% load static %}

{% block page_content %}
<header class="py-5 px-2">
  <div class="container px-5">
    <div class="justify-content-center">
      <h1 class="fw-bolder mb-5 text-center">Kebijakan dan Privasi</h1>
      <div class="mb-3">
        <p style="text-indent: 45px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis hendrerit dolor magna eget est. Proin gravida hendrerit lectus a. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et. Egestas maecenas pharetra convallis posuere tellus pellentesque eu tincidunt. Donec et odio pellentesque diam volutpat commodo sed.</p>        
      </div>
      <div class="mb-5">
        <dl>
          <dt>Siapakah metalit?</dt>
          <dd>
            <p style="text-indent: 45px; text-align: justify;">A pellentesque sit amet porttitor eget. Risus in hendrerit gravida rutrum. Consequat semper viverra nam libero justo laoreet sit amet. Quam adipiscing vitae proin sagittis ut aliquam purus sit amet.</p>
          </dd>
        </dl>
        <dl>
          <dt>Lokalisasi Data</dt>
          <dd>
            <p style="text-indent: 45px; text-align: justify;"> Vel pharetra vel turpis nunc eget lorem dolor. Sit amet est placerat in egestas. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Eleifend quam adipiscing enim  tincidunt ornare. Mi sit amet mauris commodo. Ipsum dolor sit amet consectetur adipiscing. Massa massa ultricies mi quis hendrerit dolor.</p>
            </dd>
        </dl>
        <dl>
          <dt>Informasi yang Dihasilkan Secara Otomatis</dt>
          <dd>
            <p style="text-indent: 45px; text-align: justify;">Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Tortor vitae purus faucibus ornare suspendisse sed. Non consectetur a erat nam at. Lectus sit amet est habitasse. Est velit egestas dui id ornare arcu odio. Pretium vulputate sapien nec sagittis. Nullam non nisi est sit amet facilisis magna. Facilisi etiam dignissim diam quis enim. Nulla pellentesque dignissim enim sit amet venenatis urna cursus.</p>
          </dd>
        </dl>
        <dl>
          <dt>Metalit menggunakan baik Persistent Cookies dan Session Cookies</dt>
          <dd>
            <p style="text-indent: 45px; text-align: justify;">Aliquam ut porttitor leo a diam sollicitudin tempor. Sit amet nisl purus in mollis nunc sed id semper. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. At urna condimentum mattis pellentesque id. Aliquet necat risus viverra adipiscing at in tellus integer. Dolor purus non enim praesent elementum.</p>
          </dd>
        </dl>
      </div>
      <img class="mb-3" src='{% static "assets/Group 278.png" %}'>   
      </div>
    </div>
  </div>
</header>
{% endblock %}