{% extends "revamp/base.html" %}
{% load static %}

{% block page_content %}

<section class="py-5">
  <div class="container px-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center my-5">
          <h2 class="fw-bolder mb-3">Bergabung dengan kami</h2>
          <p class="text-muted mb-4">Kuasai hard skill dan soft skill dengan mengikuti 12 minggu pelatihan bersama Metalit, dan dapatkan materi standar industri dengan harga terjangkau</p>
        </div>
        <div class="bg-black text-white">
          <form class="py-5 px-5">
            <h3 class="mb-5 text-center">Daftarkan diri Anda</h3>
            <div class="row mb-3">
              <div class="col-4"><label>Nama</label></div>
              <div class="col-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4"><label>Email</label></div>
              <div class="col-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4"><label>Jenis Kelamin</label></div>
              <div class="col-8">
                <div class="form-inline">
                  <label class="radio">
                      <input type="radio" value="1"/>Laki-Laki
                  </label>
                  <label class="radio px-5">
                      <input type="radio" value="2"/>Perempuan
                   </label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4"><label>Nomor Handphone</label></div>
              <div class="col-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4"><label>Pendidikan Terakhir</label></div>
              <div class="col-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4"><label>Jurusan</label></div>
              <div class="col-8">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4"><label>Alasan Bergabung</label></div>
              <div class="col-8">
                <textarea class="form-control"rows="3"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="send">Kirim</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}