{% extends "revamp/base.html" %}
{% load static %}
{% block title %}-Syarat_Ketentuan{% endblock %}
{% block page_content %}
<header class="py-5 px-2">
  <div class="container px-5">
    <div class="justify-content-center">
      <h1 class="fw-bolder mb-5 text-center">Syarat dan Ketentuan</h1>
      <div class="mb-5">
        <p style="text-indent: 45px; text-align: justify;">
          {% autoescape off %}
            {{ content }}
          {% endautoescape %}
        </p>
        <img class="img-fluid rounded mb-5 mb-lg-0" src='{% static "images/terms.png" %}'/>
      </div>
    </div>
  </div>
</header>
{% endblock %}